:root {
   --sedan: hsl(31, 77%, 52%);
   --suv: hsl(184, 100%, 22%);
   --luxury: hsl(179, 100%, 13%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card1 {
    background-color: var(--sedan);
}

.card2 {
    background-color: var(--suv);
}

.card3 {
    background-color: var(--luxury);
}

.card-title {
    color: #fff;
    font-family: 'Big Shoulders Display';
}

.card-description {
    color: #fff;
    font-family: 'Lexend Deca';
}

.button {
    text-decoration: none;
    background-color: #fff;
}

.button1 {
    color: var(--sedan);
}

.button2 {
    color: var(--suv);
}

.button3 {
    color: var(--luxury);
}